[core]
	autocrlf = false
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[user]
	email = tzongw@gmail.com
	name = tzongw
[push]
	default = simple
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/Visual\\ Studio\\ Code.app/Contents/Resources/app/bin/code --wait --diff $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Visual\\ Studio\\ Code.app/Contents/Resources/app/bin/code --wait $MERGED
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[http]
	sslverify = false
